* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.alert {
  text-align: center;
  color: red;
  text-transform: uppercase;
}
mat-sidenav-container {
  height: calc(205vh - 115vh);
}
mat-sidenav {
  width: 200px;
  background-color: #eee;
}

h1 {
  margin-top: 100px;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
}

mat-list {
  button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
  }
  button:hover {
    color: red;
  }
}
mat-card {
  width: 100%;
  padding: 10px;
}
