@import "../app.component.scss";

.view {
  margin-top: 15px;
  height: 500px;
}

.table-container {
  margin: 20px auto;
  width: 98%;
  max-height: 400px;
  overflow-x: auto;
}
table {
  border-collapse: collapse;

  margin-bottom: 20px;
  width: 100%;
  overflow-y: auto;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #8d8b8b;
}

tbody {
  height: 20px;
}

.empty-section {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.view-section {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-group {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  .button-footer {
    margin-top: 20px;
    width: 30%;
    text-transform: uppercase;
  }
}
